<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:property-placeholder location="classpath:resources*.properties" ignore-unresolvable="true"/>
    <!--扫描dao类包，应用Spring的注解配置-->
    <context:component-scan base-package="com.funi.demo.mbg.dao"/>
    <!--扫描service类包，应用Spring的注解配置-->
    <context:component-scan base-package="com.funi.demo.service.impl"/>
    <!--数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="${db_driverClassName}"
          p:url="${db_url}"
          p:username="${db_username}"
          p:password="${db_password}"/>
    <!--mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:/com/funi/demo/**/mapper/*.xml"/>
        <property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.funi.demo.mbg.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!--jdbc模板bean-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
          p:dataSource-ref="dataSource"/>
    <!-- spring jdbc 事务管理 -->
    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--声明式事务-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--编程式事务-->
    <tx:annotation-driven order="0" transaction-manager="txManager"/>

    <!--aop 实现，默认采用JDK 生成动态代理，所以如果要实现AOP 则相应的类应用要有接口声明
      相对1.7以前的版本cglib 效率高于 jdk 动态代理，但是后续的jdk动态代理性能测试结果都比cglib 好，所以暂时还是默认jdk的动态代理实现
     -->
    <aop:config>
        <aop:pointcut id="servicePointcut" expression="within(com.funi..service..*ServiceImpl)
        and not within(@org.springframework.transaction.annotation.Transactional *)"/>
        <aop:advisor advice-ref="txAdvice" order="1" pointcut-ref="servicePointcut"/>
    </aop:config>
</beans>